<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kcdb.mapper.KcdbMainInfoMapper">
    
    <resultMap type="KcdbMainInfo" id="KcdbMainInfoResult">
        <result property="dh"    column="dh"    />
        <result property="lx"    column="lx"    />
        <result property="fhck"    column="fhck"    />
        <result property="shck"    column="shck"    />
        <result property="fhbm"    column="fhbm"    />
        <result property="shbm"    column="shbm"    />
        <result property="wlmc"    column="wlmc"    />
        <result property="dbsl"    column="dbsl"    />
        <result property="ysfs"    column="ysfs"    />
        <result property="jsfs"    column="jsfs"    />
        <result property="jsdj"    column="jsdj"    />
        <result property="xhsl"    column="xhsl"    />
        <result property="dbrq"    column="dbrq"    />
        <result property="bz"    column="bz"    />
        <result property="pch"    column="pch"    />
        <result property="dbje"    column="dbje"    />
        <result property="recordFlag"    column="record_flag"    />
        <result property="nqry"    column="nqry"    />
        <result property="fhckmc"    column="warehouse_name"    />
        <result property="materialName"    column="material_name"    />
        <result property="dbId"    column="id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="bizVersion"    column="biz_version"    />
    </resultMap>

    <!-- 查询存库调出列表sql -->
    <sql id="selectKcdbMainInfoDcVo">
        select
            dh, lx, fhck, shck, fhbm, shbm,
            wlmc, dbsl, ysfs, jsfs, jsdj, xhsl,
            dbrq, bz, pch, dbje, record_flag, nqry,
            warehouse_name, material_name, id, dept_name
        from
            kcdb_main_info t1, master_data_warehouse_base_info t2,
            master_data_material_info t3, sys_dept t4
    </sql>

    <!-- 查询存库调出列表 -->
    <select id="selectKcdbMainInfoListDc" parameterType="KcdbMainInfo" resultMap="KcdbMainInfoResult">
        <include refid="selectKcdbMainInfoDcVo"/>
        <where>
            t1.fhck = t2.warehouse_code
            and t1.wlmc = t3.material_id
            and t1.fhbm = t4.dept_id
            and t1.record_flag = 'dc'
            <if test="dh != null  and dh != ''"> and dh like concat('%', #{dh}, '%')</if>
            <if test="fhbm != null  and fhbm != ''"> and fhbm = #{fhbm}</if>
            <if test="fhck != null  and fhck != ''"> and warehouse_name like concat('%', #{fhck}, '%')</if>
            <if test="dbsl != null  and dbsl != ''"> and dbsl = #{dbsl}</if>
            <if test="jsdj != null  and jsdj != ''"> and jsdj = #{jsdj}</if>
            <if test="dbje != null  and dbje != ''"> and dbje = #{dbje}</if>
            <if test="dbrq != null "> and dbrq = #{dbrq}</if>
            <if test="lx != null  and lx != ''"> and lx = #{lx}</if>
        </where>
    </select>

    <!-- 查询存库调入列表sql -->
    <sql id="selectKcdbMainInfoDrVo">
        select
            dh, lx, fhck, shck, fhbm, shbm,
            wlmc, dbsl, ysfs, jsfs, jsdj, xhsl,
            dbrq, bz, pch, dbje, record_flag, nqry,
            warehouse_name, material_name, id, dept_name
        from
            kcdb_main_info t1, master_data_warehouse_base_info t2,
            master_data_material_info t3, sys_dept t4
    </sql>

    <!-- 查询存库调入列表 -->
    <select id="selectKcdbMainInfoListDr" parameterType="KcdbMainInfo" resultMap="KcdbMainInfoResult">
        <include refid="selectKcdbMainInfoDrVo"/>
        <where>
            t1.shck = t2.warehouse_code
            and t1.wlmc = t3.material_id
            and t1.shbm = t4.dept_id
            and t1.record_flag = 'dr'
            <if test="dh != null  and dh != ''"> and dh like concat('%', #{dh}, '%')</if>
            <if test="lx != null  and lx != ''"> and lx = #{lx}</if>
            <if test="shck != null  and shck != ''"> and warehouse_name like concat('%', #{shck}, '%')</if>
            <if test="shbm != null  and shbm != ''"> and shbm = #{shbm}</if>
            <if test="dbrq != null "> and dbrq = #{dbrq}</if>
            <if test="xhsl != null and xhsl != ''"> and xhsl = #{xhsl}</if>
            <if test="jsdj != null and jsdj != ''"> and jsdj = #{jsdj}</if>
            <if test="dbje != null and dbje != ''"> and dbje = #{dbje}</if>
        </where>
    </select>

    <sql id="selectKcdbMainInfoVo">
        select
            dh, lx, fhck, shck, fhbm, shbm,
            wlmc, dbsl, ysfs, jsfs, jsdj, xhsl,
            dbrq, bz, pch, dbje, record_flag, nqry,
            warehouse_name, material_name, id
        from
            kcdb_main_info t1, master_data_warehouse_base_info t2, master_data_material_info t3
    </sql>

    <select id="selectKcdbMainInfoByDh" parameterType="String" resultMap="KcdbMainInfoResult">
        <include refid="selectKcdbMainInfoVo"/>
        where t1.fhck = t2.warehouse_code and t1.wlmc = t3.material_id and id = #{dbId}
    </select>

    <!-- 取得库存调出最大的调拨单号 -->
    <select id="selectMaxDhForDc" resultMap="KcdbMainInfoResult">
        SELECT max(t.dh) as dh FROM kcdb_main_info t WHERE t.record_flag = 'dc'
    </select>
        
    <insert id="insertKcdbMainInfo" parameterType="KcdbMainInfo">
        insert into kcdb_main_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dh != null">dh,</if>
            <if test="lx != null">lx,</if>
            <if test="fhck != null">fhck,</if>
            <if test="shck != null">shck,</if>
            <if test="fhbm != null">fhbm,</if>
            <if test="shbm != null">shbm,</if>
            <if test="wlmc != null">wlmc,</if>
            <if test="dbsl != null">dbsl,</if>
            <if test="ysfs != null">ysfs,</if>
            <if test="jsfs != null">jsfs,</if>
            <if test="jsdj != null">jsdj,</if>
            <if test="xhsl != null">xhsl,</if>
            <if test="dbrq != null">dbrq,</if>
            <if test="bz != null">bz,</if>
            <if test="pch != null">pch,</if>
            <if test="dbje != null">dbje,</if>
            <if test="recordFlag != null">record_flag,</if>
            <if test="nqry != null">nqry,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="bizVersion != null">biz_version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dh != null">#{dh},</if>
            <if test="lx != null">#{lx},</if>
            <if test="fhck != null">#{fhck},</if>
            <if test="shck != null">#{shck},</if>
            <if test="fhbm != null">#{fhbm},</if>
            <if test="shbm != null">#{shbm},</if>
            <if test="wlmc != null">#{wlmc},</if>
            <if test="dbsl != null">#{dbsl},</if>
            <if test="ysfs != null">#{ysfs},</if>
            <if test="jsfs != null">#{jsfs},</if>
            <if test="jsdj != null">#{jsdj},</if>
            <if test="xhsl != null">#{xhsl},</if>
            <if test="dbrq != null">#{dbrq},</if>
            <if test="bz != null">#{bz},</if>
            <if test="pch != null">#{pch},</if>
            <if test="dbje != null">#{dbje},</if>
            <if test="recordFlag != null">#{recordFlag},</if>
            <if test="nqry != null">#{nqry},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="bizVersion != null">#{bizVersion},</if>
         </trim>
    </insert>

    <update id="updateKcdbMainInfo" parameterType="KcdbMainInfo">
        update kcdb_main_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="lx != null">lx = #{lx},</if>
            <if test="fhck != null">fhck = #{fhck},</if>
            <if test="shck != null">shck = #{shck},</if>
            <if test="fhbm != null">fhbm = #{fhbm},</if>
            <if test="shbm != null">shbm = #{shbm},</if>
            <if test="wlmc != null">wlmc = #{wlmc},</if>
            <if test="dbsl != null">dbsl = #{dbsl},</if>
            <if test="ysfs != null">ysfs = #{ysfs},</if>
            <if test="jsfs != null">jsfs = #{jsfs},</if>
            <if test="jsdj != null">jsdj = #{jsdj},</if>
            <if test="xhsl != null">xhsl = #{xhsl},</if>
            <if test="dbrq != null">dbrq = #{dbrq},</if>
            <if test="nqry != null">nqry = #{nqry},</if>
            <if test="bz != null">bz = #{bz},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="bizVersion != null">biz_version = #{bizVersion},</if>
        </trim>
        where id = #{dbId}
    </update>

    <delete id="deleteKcdbMainInfoByDh" parameterType="String">
        delete from kcdb_main_info where dh = #{dh}
    </delete>

    <delete id="deleteKcdbMainInfoByDhs" parameterType="String">
        delete from kcdb_main_info where id in
        <foreach item="dh" collection="array" open="(" separator="," close=")">
            #{dh}
        </foreach>
    </delete>
</mapper>