<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zjzy.mapper.ZjzyHkrlInfoMapper">
    
    <resultMap type="ZjzyHkrlInfo" id="ZjzyHkrlInfoResult">
        <result property="hkrlId"    column="hkrl_id"    />
        <result property="hkrlBmbh"    column="hkrl_bmbh"    />
        <result property="hkrlPch"    column="hkrl_pch"    />
        <result property="hkrlHtbh"    column="hkrl_htbh"    />
        <result property="hkrlJe"    column="hkrl_je"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="bizVersion"    column="biz_version"    />
        <result property="deptName"    column="dept_name"    />
    </resultMap>

    <sql id="selectZjzyHkrlInfoVo">
        select
            t.hkrl_id, t.hkrl_bmbh, t.hkrl_pch, t.hkrl_htbh, t.hkrl_je,
            t.create_by, t.create_time, t.update_by, t.update_time, t.biz_version,
            d.dept_name
        from
            zjzy_hkrl_info t
        left join sys_dept d on t.hkrl_bmbh = d.dept_id

    </sql>

    <select id="selectZjzyHkrlInfoList" parameterType="ZjzyHkrlInfo" resultMap="ZjzyHkrlInfoResult">
        <include refid="selectZjzyHkrlInfoVo"/>
        <where>
            <if test="hkId != null  and hkId != ''"> and hk_id = #{hkId}</if>
            <if test="hkrlBmbh != null  and hkrlBmbh != ''"> and hkrl_bmbh = #{hkrlBmbh}</if>
            <if test="hkrlPch != null  and hkrlPch != ''"> and hkrl_pch = #{hkrlPch}</if>
            <if test="hkrlHtbh != null  and hkrlHtbh != ''"> and hkrl_htbh = #{hkrlHtbh}</if>
            <if test="params.beginHkrlJe != null and params.beginHkrlJe != '' and params.endHkrlJe != null and params.endHkrlJe != ''"> and hkrl_je between #{params.beginHkrlJe} and #{params.endHkrlJe}</if>
        </where>
    </select>
    
    <select id="selectZjzyHkrlInfoByHkrlId" parameterType="Long" resultMap="ZjzyHkrlInfoResult">
        <include refid="selectZjzyHkrlInfoVo"/>
        where hkrl_id = #{hkrlId}
    </select>
        
    <insert id="insertZjzyHkrlInfo" parameterType="ZjzyHkrlInfo">
        insert into zjzy_hkrl_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hkrlId != null">hkrl_id,</if>
            <if test="hkrlBmbh != null and hkrlBmbh != ''">hkrl_bmbh,</if>
            <if test="hkrlPch != null and hkrlPch != ''">hkrl_pch,</if>
            <if test="hkrlHtbh != null and hkrlHtbh != ''">hkrl_htbh,</if>
            <if test="hkrlJe != null">hkrl_je,</if>
            <if test="hkId != null">hk_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="bizVersion != null">biz_version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hkrlId != null">#{hkrlId},</if>
            <if test="hkrlBmbh != null and hkrlBmbh != ''">#{hkrlBmbh},</if>
            <if test="hkrlPch != null and hkrlPch != ''">#{hkrlPch},</if>
            <if test="hkrlHtbh != null and hkrlHtbh != ''">#{hkrlHtbh},</if>
            <if test="hkrlJe != null">#{hkrlJe},</if>
            <if test="hkId != null">#{hkId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="bizVersion != null">#{bizVersion},</if>
         </trim>
    </insert>

    <update id="updateZjzyHkrlInfo" parameterType="ZjzyHkrlInfo">
        update zjzy_hkrl_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="hkrlBmbh != null and hkrlBmbh != ''">hkrl_bmbh = #{hkrlBmbh},</if>
            <if test="hkrlPch != null and hkrlPch != ''">hkrl_pch = #{hkrlPch},</if>
            <if test="hkrlHtbh != null and hkrlHtbh != ''">hkrl_htbh = #{hkrlHtbh},</if>
            <if test="hkrlJe != null">hkrl_je = #{hkrlJe},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="bizVersion != null">biz_version = #{bizVersion},</if>
        </trim>
        where hkrl_id = #{hkrlId}
    </update>

    <delete id="deleteZjzyHkrlInfoByHkrlId" parameterType="Long">
        delete from zjzy_hkrl_info where hkrl_id = #{hkrlId}
    </delete>

    <delete id="deleteZjzyHkrlInfoByHkrlIds" parameterType="String">
        delete from zjzy_hkrl_info where hkrl_id in 
        <foreach item="hkrlId" collection="array" open="(" separator="," close=")">
            #{hkrlId}
        </foreach>
    </delete>

    <!-- 根据部门编号，取得该部门的回款总额 -->
    <select id="getHkrlTotalByBmbh" parameterType="java.lang.Double" resultType="java.lang.Double">
        select ifnull(sum(hkrl_je), 0) as hkrl_je from zjzy_hkrl_info where hkrl_bmbh = #{bmbh}
    </select>
</mapper>