<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.report.contract.mapper.ContractAdditionalInfoMapper">
    
    <resultMap type="ContractAdditionalInfo" id="ContractAdditionalInfoResult">
        <result property="additionalId"    column="additional_id"    />
        <result property="uploadImagePath"    column="upload_image_path"    />
        <result property="uplloadFilePath"    column="uplload_file_path"    />
        <result property="contractId"    column="contract_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="bizVersion"    column="biz_version"    />
    </resultMap>

    <sql id="selectContractAdditionalInfoVo">
        select additional_id, upload_image_path, uplload_file_path, contract_id, create_by, create_time, update_by, update_time, biz_version from contract_additional_info
    </sql>

    <select id="selectContractAdditionalInfoList" parameterType="ContractAdditionalInfo" resultMap="ContractAdditionalInfoResult">
        <include refid="selectContractAdditionalInfoVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectContractAdditionalInfoByContractId" parameterType="String" resultMap="ContractAdditionalInfoResult">
        <include refid="selectContractAdditionalInfoVo"/>
        where contract_id = #{contractId}
    </select>

    <select id="selectOrderAdditional" parameterType="String" resultMap="ContractAdditionalInfoResult">
        <include refid="selectContractAdditionalInfoVo"/>
        where order_id = #{orderId}
    </select>
        
    <insert id="insertContractAdditionalInfo" parameterType="ContractAdditionalInfo" useGeneratedKeys="true" keyProperty="additionalId">
        insert into contract_additional_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uploadImagePath != null">upload_image_path,</if>
            <if test="uplloadFilePath != null">uplload_file_path,</if>
            <if test="contractId != null and contractId != ''">contract_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="bizVersion != null">biz_version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uploadImagePath != null">#{uploadImagePath},</if>
            <if test="uplloadFilePath != null">#{uplloadFilePath},</if>
            <if test="contractId != null and contractId != ''">#{contractId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="bizVersion != null">#{bizVersion},</if>
         </trim>
    </insert>

    <update id="updateContractAdditionalInfo" parameterType="ContractAdditionalInfo">
        update contract_additional_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="uploadImagePath != null">upload_image_path = #{uploadImagePath},</if>
            <if test="uplloadFilePath != null">uplload_file_path = #{uplloadFilePath},</if>
            <if test="contractId != null and contractId != ''">contract_id = #{contractId},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="bizVersion != null">biz_version = #{bizVersion},</if>
        </trim>
        where additional_id = #{additionalId}
    </update>

    <delete id="deleteContractAdditionalInfoByAdditionalId" parameterType="String">
        delete from contract_additional_info where additional_id = #{additionalId}
    </delete>

    <delete id="deleteContractAdditionalInfoByAdditionalIds" parameterType="String">
        delete from contract_additional_info where additional_id in 
        <foreach item="additionalId" collection="array" open="(" separator="," close=")">
            #{additionalId}
        </foreach>
    </delete>

    <delete id="deleteUploadFile" parameterType="String">
        delete from contract_additional_info where uplload_file_path like concat('%', #{filePath}, '%')
    </delete>
</mapper>