<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.report.contract.mapper.ContractApprovalRecordsInfoMapper">
    
    <resultMap type="ContractApprovalRecordsInfo" id="ContractApprovalRecordsInfoResult">
        <result property="approvalRecordId"    column="approval_record_id"    />
        <result property="approvalStatus"    column="approval_status"    />
        <result property="approvalResult"    column="approval_result"    />
        <result property="completeTime"    column="complete_time"    />
        <result property="approvalName"    column="approval_name"    />
        <result property="approvalRecord"    column="approval_record"    />
        <result property="approvalId"    column="approval_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="bizVersion"    column="biz_version"    />
    </resultMap>

    <sql id="selectContractApprovalRecordsInfoVo">
        select approval_record_id, approval_status, approval_result, complete_time, approval_name, approval_record, approval_id, create_by, create_time, update_by, update_time, biz_version from contract_approval_records_info
    </sql>

    <select id="selectContractApprovalRecordsInfoList" parameterType="ContractApprovalRecordsInfo" resultMap="ContractApprovalRecordsInfoResult">
        <include refid="selectContractApprovalRecordsInfoVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectContractApprovalRecordsInfoByApprovalRecordId" parameterType="String" resultMap="ContractApprovalRecordsInfoResult">
        <include refid="selectContractApprovalRecordsInfoVo"/>
        where approval_record_id = #{approvalRecordId}
    </select>

    <!-- 根据审批编号和用户编号，取得审批记录 -->
    <select id="selectContractApprovalRecordsInfoByApprovalIdAndUserId" parameterType="ContractApprovalRecordsInfo" resultMap="ContractApprovalRecordsInfoResult">
        <include refid="selectContractApprovalRecordsInfoVo"/>
        where approval_id = #{approvalId} and approval_name = #{approvalName}
    </select>

    <!-- 根据审批编号，取得审批记录数据 -->
    <select id="getContractApprovalRecordsByApprovalId" parameterType="String" resultMap="ContractApprovalRecordsInfoResult">
        <include refid="selectContractApprovalRecordsInfoVo"/>
        where approval_id = #{approvalId}
    </select>
        
    <insert id="insertContractApprovalRecordsInfo" parameterType="ContractApprovalRecordsInfo">
        insert into contract_approval_records_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="approvalRecordId != null">approval_record_id,</if>
            <if test="approvalStatus != null">approval_status,</if>
            <if test="approvalResult != null">approval_result,</if>
            <if test="completeTime != null">complete_time,</if>
            <if test="approvalName != null">approval_name,</if>
            <if test="approvalRecord != null">approval_record,</if>
            <if test="approvalId != null">approval_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="bizVersion != null">biz_version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="approvalRecordId != null">#{approvalRecordId},</if>
            <if test="approvalStatus != null">#{approvalStatus},</if>
            <if test="approvalResult != null">#{approvalResult},</if>
            <if test="completeTime != null">#{completeTime},</if>
            <if test="approvalName != null">#{approvalName},</if>
            <if test="approvalRecord != null">#{approvalRecord},</if>
            <if test="approvalId != null">#{approvalId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="bizVersion != null">#{bizVersion},</if>
         </trim>
    </insert>

    <update id="updateContractApprovalRecordsInfo" parameterType="ContractApprovalRecordsInfo">
        update contract_approval_records_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="approvalStatus != null">approval_status = #{approvalStatus},</if>
            <if test="approvalResult != null">approval_result = #{approvalResult},</if>
            <if test="completeTime != null">complete_time = #{completeTime},</if>
            <if test="approvalName != null">approval_name = #{approvalName},</if>
            <if test="approvalRecord != null">approval_record = #{approvalRecord},</if>
            <if test="approvalId != null">approval_id = #{approvalId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="bizVersion != null">biz_version = #{bizVersion},</if>
        </trim>
        where approval_record_id = #{approvalRecordId}
    </update>

    <delete id="deleteContractApprovalRecordsInfoByApprovalRecordId" parameterType="String">
        delete from contract_approval_records_info where approval_record_id = #{approvalRecordId}
    </delete>

    <delete id="deleteContractApprovalRecordsInfoByApprovalRecordIds" parameterType="String">
        delete from contract_approval_records_info where approval_record_id in 
        <foreach item="approvalRecordId" collection="array" open="(" separator="," close=")">
            #{approvalRecordId}
        </foreach>
    </delete>
</mapper>