<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fpgl.mapper.FpglMainInfoMapper">
    
    <resultMap type="FpglMainInfo" id="FpglMainInfoResult">
        <result property="fpglId"    column="fpgl_id"    />
        <result property="fpglKprq"    column="fpgl_kprq"    />
        <result property="fpglKpmx"    column="fpgl_kpmx"    />
        <result property="fpglKpsl"    column="fpgl_kpsl"    />
        <result property="fpglKpdj"    column="fpgl_kpdj"    />
        <result property="fpglKpje"    column="fpgl_kpje"    />
        <result property="fpglSqr"    column="fpgl_sqr"    />
        <result property="fpglFpzt"    column="fpgl_fpzt"    />
        <result property="fpglDdbh"    column="fpgl_ddbh"    />
        <result property="fpglKplx"    column="fpgl_kplx"    />
        <result property="fpglKpRate"    column="fpgl_kp_rate"    />
        <result property="fpglBelongDept"    column="fpgl_belong_dept"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="bizVersion"    column="biz_version"    />
    </resultMap>

    <resultMap type="FpglListInfo" id="FpglListInfoResult">
        <result property="orderId"    column="order_id"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="materialName"    column="material_name"    />
        <result property="contractType"    column="contract_type"    />
        <result property="contractTotal"    column="contract_total"    />
        <result property="fpglKpje"    column="fpgl_kpje"    />
        <result property="fpglSqr"    column="fpgl_sqr"    />
        <result property="fpglId"    column="fpgl_id"    />
        <result property="taxNumber"    column="tax_number"    />
        <result property="ourCompanyName"    column="our_company_name"    />
        <result property="fpglKpsl"    column="fpgl_kpsl"    />
        <result property="fpglKpdj"    column="fpgl_kpdj"    />
        <result property="fpglKpje"    column="fpgl_kpje"    />
        <result property="fpglFpno"    column="fpgl_fpno"    />
        <result property="fpglKplx"    column="fpgl_kplx"    />
        <result property="fpglKpRate"    column="fpgl_kp_rate"    />
        <result property="fpglBelongDept"    column="fpgl_belong_dept"    />
    </resultMap>

    <sql id="selectFpglMainInfoVo">
        select
            fpgl_id, fpgl_kprq, fpgl_kpmx, fpgl_kpsl, fpgl_kpdj, fpgl_kpje,
            fpgl_sqr, fpgl_fpzt, fpgl_ddbh, create_by, create_time, update_by,
            update_time, biz_version
        from
            fpgl_main_info
    </sql>

    <sql id="selectFpglListVo">
        select distinct
	        order_id, supplier_name, material_name, contract_type, our_company_name, contract_total,
	        fpgl_kpsl, fpgl_kpdj, fpgl_kpje, fpgl_fpno, fpgl_sqr, fpgl_id, tax_number, tt1.user_name
        from
	    (
	        select
                t1.order_id as order_id,
                t1.supplier_name as supplier_name,
                t1.material_name as material_name,
                t2.contract_type as contract_type,
                t2.our_company_name as our_company_name,
                ifnull( t2.contract_total, 0 ) as contract_total,
                ifnull( t3.fpgl_kpsl, 0 ) as fpgl_kpsl,
                ifnull( t3.fpgl_kpdj, 0 ) as fpgl_kpdj,
                ifnull( t3.fpgl_kpje, 0 ) as fpgl_kpje,
                t3.fpgl_fpno as fpgl_fpno,
                t3.fpgl_sqr as fpgl_sqr,
                t3.fpgl_id as fpgl_id,
                t4.tax_number as tax_number
	        from
                purchase_sale_order_info t1, contract_content_info t2, fpgl_main_info t3, master_data_client_info t4
            where
                t1.contract_id = t2.contract_id
                and t1.order_id = t3.fpgl_ddbh
                and t1.supplier_name = t4.base_id
	    ) fpgl, sys_user tt1, sys_dept tt2
    </sql>

    <select id="selectFpglMainInfoList" parameterType="FpglMainInfo" resultMap="FpglMainInfoResult">
        <include refid="selectFpglMainInfoVo"/>
        <where>
            <if test="fpglKprq != null "> and fpgl_kprq = #{fpglKprq}</if>
            <if test="fpglKpmx != null  and fpglKpmx != ''"> and fpgl_kpmx like concat('%', #{fpglKpmx}, '%')</if>
            <if test="fpglKpsl != null "> and fpgl_kpsl = #{fpglKpsl}</if>
            <if test="fpglKpdj != null "> and fpgl_kpdj = #{fpglKpdj}</if>
            <if test="fpglKpje != null "> and fpgl_kpje = #{fpglKpje}</if>
            <if test="fpglSqr != null  and fpglSqr != ''"> and fpgl_sqr like concat('%', #{fpglSqr}, '%')</if>
            <if test="fpglFpzt != null  and fpglFpzt != ''"> and fpgl_fpzt = #{fpglFpzt}</if>
            <if test="fpglDdbh != null  and fpglDdbh != ''"> and fpgl_ddbh = #{fpglDdbh}</if>
            <if test="bizVersion != null "> and biz_version = #{bizVersion}</if>
        </where>
    </select>

    <select id="selectFpglList" parameterType="FpglListInfo" resultMap="FpglListInfoResult">
        <include refid="selectFpglListVo"/>
        <where>
            fpgl.fpgl_sqr = tt1.user_name and tt1.dept_id = tt2.dept_id
            <if test="fpglSqr != null  and fpglSqr == ''">
                and tt1.user_name = = #{fpglSqr}
            </if>
            <if test="deptId != null "> and tt1.dept_id = #{deptId}</if>
            <if test="orderId != null  and orderId != ''"> and order_id like concat('%', #{orderId}, '%')</if>
            <if test="contractType != null "> and contract_type = #{contractType}</if>
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="materialName != null  and materialName != ''"> and material_name like concat('%', #{materialName}, '%')</if>
        </where>
    </select>
    
    <select id="selectFpglMainInfoByFpglDdbh" parameterType="String" resultMap="FpglMainInfoResult">
        <include refid="selectFpglMainInfoVo"/>
        where fpgl_ddbh = #{fpglDdbh}
    </select>

    <!-- 登录用户角色为财务的场合，取得发票明细列表sql -->
    <sql id="selectFpglListVoForCw">
        select
	        order_id, supplier_name, material_name, contract_type,
	        our_company_name, contract_total, fpgl_kpsl, fpgl_kpdj,
	        fpgl_kpje, fpgl_fpno, fpgl_sqr, fpgl_id, fpgl_kplx,
	        fpgl_kp_rate, fpgl_belong_dept, tax_number
        from
	    (
	        select
		        t1.order_id as order_id,
		        t1.supplier_name as supplier_name,
		        t1.material_name as material_name,
		        t2.contract_type as contract_type,
		        t2.our_company_name as our_company_name,
                ifnull( t2.contract_total, 0 ) as contract_total,
                ifnull( t3.fpgl_kpsl, 0 ) as fpgl_kpsl,
                ifnull( t3.fpgl_kpdj, 0 ) as fpgl_kpdj,
                ifnull( t3.fpgl_kpje, 0 ) as fpgl_kpje,
                t3.fpgl_fpno as fpgl_fpno,
                t3.fpgl_sqr as fpgl_sqr,
                t3.fpgl_id as fpgl_id,
                t3.fpgl_kplx as fpgl_kplx,
                t3.fpgl_kp_rate as fpgl_kp_rate,
                t3.fpgl_belong_dept as fpgl_belong_dept,
                t4.tax_number as tax_number
	        from
                fpgl_main_info t3,
                purchase_sale_order_info t1,
                contract_content_info t2,
                master_data_client_info t4
	        where
		        t3.fpgl_ddbh = t1.order_id
		        and t3.fpgl_ddbh = t2.contract_id
		        and t1.supplier_name = t4.base_id
	    ) fpgl
    </sql>

    <!-- 登录用户角色为财务的场合，取得发票明细列表 -->
    <select id="selectFpglListForCw" parameterType="FpglListInfo" resultMap="FpglListInfoResult">
        <include refid="selectFpglListVoForCw"/>
        <where>
            <if test="orderId != null  and orderId != ''"> and order_id like concat('%', #{orderId}, '%')</if>
            <if test="contractType != null "> and contract_type = #{contractType}</if>
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="materialName != null  and materialName != ''"> and material_name like concat('%', #{materialName}, '%')</if>
        </where>
    </select>
        
    <insert id="insertFpglMainInfo" parameterType="FpglMainInfo">
        insert into fpgl_main_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fpglId != null">fpgl_id,</if>
            <if test="fpglKprq != null">fpgl_kprq,</if>
            <if test="fpglKpmx != null and fpglKpmx != ''">fpgl_kpmx,</if>
            <if test="fpglKpsl != null">fpgl_kpsl,</if>
            <if test="fpglKpdj != null">fpgl_kpdj,</if>
            <if test="fpglKpje != null">fpgl_kpje,</if>
            <if test="fpglSqr != null and fpglSqr != ''">fpgl_sqr,</if>
            <if test="fpglFpzt != null and fpglFpzt != ''">fpgl_fpzt,</if>
            <if test="fpglDdbh != null and fpglDdbh != ''">fpgl_ddbh,</if>
            <if test="fpglFpno != null and fpglFpno != ''">fpgl_fpno,</if>
            <if test="fpglKplx != null and fpglKplx != ''">fpgl_kplx,</if>
            <if test="fpglKpRate != null and fpglKpRate != ''">fpgl_kp_rate,</if>
            <if test="fpglBelongDept != null and fpglBelongDept != ''">fpgl_belong_dept,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="bizVersion != null">biz_version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fpglId != null">#{fpglId},</if>
            <if test="fpglKprq != null">#{fpglKprq},</if>
            <if test="fpglKpmx != null and fpglKpmx != ''">#{fpglKpmx},</if>
            <if test="fpglKpsl != null">#{fpglKpsl},</if>
            <if test="fpglKpdj != null">#{fpglKpdj},</if>
            <if test="fpglKpje != null">#{fpglKpje},</if>
            <if test="fpglSqr != null and fpglSqr != ''">#{fpglSqr},</if>
            <if test="fpglFpzt != null and fpglFpzt != ''">#{fpglFpzt},</if>
            <if test="fpglDdbh != null and fpglDdbh != ''">#{fpglDdbh},</if>
            <if test="fpglFpno != null and fpglFpno != ''">#{fpglFpno},</if>
            <if test="fpglKplx != null and fpglKplx != ''">#{fpglKplx},</if>
            <if test="fpglKpRate != null and fpglKpRate != ''">#{fpglKpRate},</if>
            <if test="fpglBelongDept != null and fpglBelongDept != ''">#{fpglBelongDept},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="bizVersion != null">#{bizVersion},</if>
         </trim>
    </insert>

    <update id="updateFpglMainInfo" parameterType="FpglMainInfo">
        update fpgl_main_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="fpglKprq != null">fpgl_kprq = #{fpglKprq},</if>
            <if test="fpglKpmx != null and fpglKpmx != ''">fpgl_kpmx = #{fpglKpmx},</if>
            <if test="fpglKpsl != null">fpgl_kpsl = #{fpglKpsl},</if>
            <if test="fpglKpdj != null">fpgl_kpdj = #{fpglKpdj},</if>
            <if test="fpglKpje != null">fpgl_kpje = #{fpglKpje},</if>
            <if test="fpglSqr != null and fpglSqr != ''">fpgl_sqr = #{fpglSqr},</if>
            <if test="fpglFpzt != null and fpglFpzt != ''">fpgl_fpzt = #{fpglFpzt},</if>
            <if test="fpglDdbh != null and fpglDdbh != ''">fpgl_ddbh = #{fpglDdbh},</if>
            <if test="fpglFpno != null and fpglFpno != ''">fpgl_fpno = #{fpglFpno},</if>
            <if test="fpglKplx != null and fpglKplx != ''">fpgl_kplx = #{fpglKplx},</if>
            <if test="fpglKpRate != null and fpglKpRate != ''">fpgl_kp_rate = #{fpglKpRate},</if>
            <if test="fpglBelongDept != null and fpglBelongDept != ''">fpgl_belong_dept = #{fpglBelongDept},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="bizVersion != null">biz_version = #{bizVersion},</if>
        </trim>
        where fpgl_ddbh = #{fpglDdbh}
    </update>

    <delete id="deleteFpglMainInfoByFpglId" parameterType="String">
        delete from fpgl_main_info where fpgl_id = #{fpglId}
    </delete>

    <delete id="deleteFpglMainInfoByFpglIds" parameterType="String">
        delete from fpgl_main_info where fpgl_id in 
        <foreach item="fpglId" collection="array" open="(" separator="," close=")">
            #{fpglId}
        </foreach>
    </delete>
</mapper>